
$yellow: rgb(212, 199, 199);
$a1: rgb(182, 118, 0) 0%;
$a2: rgb(177, 167, 26) 19%;
$a3: rgb(142, 165, 40) 37%;
$a4: rgb(225, 233, 113) 58%;
$a5: rgb(239, 248, 106) 77%;
$a6: rgb(241, 255, 119) 100%;
